<div fxLayout="row" fxLayoutWrap fxFill fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex>
        <mat-sidenav-container class="all-wrap" fullscreen>
            <div class="page-wrap">
                <header role="banner">
                    <mat-toolbar>
                        <a class="navbar-brand" href="https://www.upm.es" id="logo">
                            <img src="/assets/upm.png" alt="UPM">
                        </a>
                        <span id="logoNav">API Items</span>
                    </mat-toolbar>
                </header>
                <main class="content">
                    <app-api-items></app-api-items>
                    <app-material></app-material>
                </main>
                <footer class="footer">
                    <div class="container">
                        <span class="text-muted">Copyright 2018 - All Rights Reserved</span>
                    </div>
                </footer>
            </div>
        </mat-sidenav-container>

    </div>
</div>



